body {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  background: url("../images/blue1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Montserrat", "Raleway", sans-serif;
}

main {
  
  max-width: 520px;
  
  width: 80%;
  height: fit-content;
  margin: 100px auto 20vh;
  margin-left: 10%;
  /* box-shadow: 3px 3px 5px 6px rgba(5, 5, 5, 0.05); */
  border-radius: 15px;
  padding-bottom: 4vh;
  
}
#login-box {
  display: inline-block;
  padding: 22px 58px 0px;
  position: relative;
  margin-top: 40px;
  animation: animate1 ease-in-out 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
  .responsive-img {
    margin-top: 30px;
  width: 80px;
  height: 80px;
  animation: animate2 ease 1.5s;
  align-self: left;
  margin-left: 20px;
}

button.seller {
  width: 400px;
  margin: auto;
  color:white;
  margin-left: -20%;
  font-size: 20px;
  padding: 1.2rem;
  border-radius: 5px;
  background: black;
  height: fit-content !important;
  outline: none;
  border:5px;
  opacity: 1;
  letter-spacing: 0.7px;
  text-transform: capitalize !important;
}
button.customer {
  width: 400px;
  margin: auto;
 
  color:black;
  margin-left: -20%;
  font-size: 20px;
  padding: 1.2rem;
  border-radius: 5px;
  background:white;
  height: fit-content !important;
  outline: none;
  border:5px;
  opacity: 1;
  letter-spacing: 0.7px;
  text-transform: capitalize !important;
}

button:hover {
  font-weight: 600;
  transition: 0.5s;
  opacity: 1;
}

h4 {
  max-width: 80%;
  color:blue;
  margin-top: 55px;
  font-size: 44px;
  font-weight: 1000;
  font-family:fantasy;
  letter-spacing: 2px;
  animation: animate3 ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
h5{
  color:white;
  margin-top: 20px;
  font-size: 35px;
  font-weight: 600;
  font-family:cursive;
  letter-spacing: 2px;
  border-bottom: 2px solid white;
  text-shadow: 2px 2px 5px black;
  padding: 3rem 0rem;
  animation: animate3 ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

@media only screen and (max-width: 550px) {
 

  .responsive-img {
    width: 20%;
    height: 10%;
  }
  button {
    width: 200px;
    margin: auto;
  }

  h4 {
    font-weight: 450;
    font-size: 36px;
  }
}
@keyframes animate2 {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes animate3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes animate1 {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

