body{
  margin: 0;
  padding: 0;
  background: url('../images/log.jpg');
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-size: cover;
  background-position: center;
}
body::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.login{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.con{
  width: 40%;
  /* margin: 190px 8%; */
  font-weight: 600;
  /* text-shadow: 2px 2px 5px white; */
  color: white;
  z-index: 10;

}

.centre{
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(30%, -50%); */
  width: 30%;
  height: 500px;
  text-align: center;
  z-index: 999;
  
  padding: 30px 8px;
  position: relative;
  border-radius: 15px;
  background:transparent;
  backdrop-filter: blur(30px) brightness(70%);
 
  /* box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75); */
  /* background: white; */
}
.centre header{
  /* position: fixed; */
  margin-top: -20px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  /* margin: 0 0 35px 0; */
  padding: 15px 0;
  text-align: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.767);
}
.centre form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.input-tag{
  margin-top: 80px;
}
.txt_field input{
  width: 100%;
  
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: white;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  color: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2e71a1;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: white;
  cursor: pointer;
  float: right;
  margin-top: -25px;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  padding: 0.6rem 2.5rem;
  border: none;
  background: black;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup{
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
  color: white;
  

}
.signup a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.signup a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 600px){
  
  .login{
      display: block;
      /* height: 150vh; */
  }
  .con{
      width: 90%;
      margin: auto;
  }
  .centre{
      width: 90%;
      margin: auto;
      margin-top: 60px;
  }
  body{
    height: 150vh;
  }
  body::after{
    height: 150vh;
  }
}







