body{
  margin: 0;
  padding: 0;
  background: url('../images/med1.jpg');
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-size: cover;
  background-position: center;
}
body::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.login{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.con{
  width: 40%;
  margin: 2rem;
  /* margin: 190px 8%; */
  font-weight: 600;

}
.con h2{
  text-align: justify;
}
.con p{
  text-align: justify;
}
.centre{
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(30%, -50%); */
  width: 40%;
  text-align: center;
  z-index: 999;
  /* max-width: 500px; */
  /* max-height: 350px; */
  text-align: center;
  padding: 30px 8px;
  position: relative;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  /* background: white; */
}
.centre header{
  /* position: fixed; */
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 35px 0;
  text-align: center;
  border-bottom: 1px solid silver;
}
.centre form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: black;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  color: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2e71a1;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #0b528d;
  cursor: pointer;
  float: right;
  margin-top: -25px;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 40%;
  height: 40px;
  border: 1px solid;
  background: black;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: white;

}
.signup a{
  color: #077fcf;
  text-decoration: none;
}
.signup a:hover{
  text-decoration: underline;
}

@media screen and (max-width: 600px){
  
  .login{
      display: block;
      /* height: 150vh; */
  }
  .con{
      width: 90%;
      margin: auto;
  }
  .centre{
      width: 90%;
      margin: auto;
      margin-top: 60px;
  }
  body{
    height: 150vh;
  }
  body::after{
    height: 150vh;
  }
}











