.checked {
    color: rgb(250, 169, 7);
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #c7d6f7;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: rgb(250, 237, 237);
    color: #fa3721;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(253, 214, 214);
    text-decoration: none;
}

.hover-1:hover .hover-overlay {
    opacity: 0;
}

h1 {
    text-align: center;
    color: blueviolet;
}

th,
td {
    padding: 10px;
}

.table {
    padding-left: 200px;
    padding-bottom: 200px;
}