@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans serif';
}



.container1{
    display: flex;
    justify-content: space-between;
    min-height: 90vh;
    margin-top: 6.5rem;
}
.left{
    width: 30%;
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    /* align-items: center; */
    position: relative;
    /* background: yellow; */
}
.left .details{
    min-height: 50vh;
    background: #43C47B;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 95%;
    position: relative;
}
.left .details b{
    color: white;
    /* margin-right: 102px; */
    /* background-color: red; */
}
#all{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.profile-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    width: 75%;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.192);
}
.profile-img{
    height: 60px;
    border: 2px solid grey;
    border-radius: 50%;
    margin-left: 10px;
}
.card-name{
    position: absolute;
    left: 37%;
    line-height: 27px;
}
.name{
    color: green;
    font-weight: 500;
    font-size: 16px;
}
.sidebar,.log-out{
   display: flex;
   flex-direction: column;
   box-shadow: 0px 2px 5px rgb(0,0,0,0.192);
   width: 75%;
}
.side-opt,.logOut{
    padding: 0.8rem;
    text-decoration: none;
    border-bottom: 0.2px solid rgba(184, 184, 184, 0.384);
    text-align: center;
    color: green;
    font-weight: 500;
}
.logOut{
    color: red;
}
.side-opt:hover{
    background-color: rgba(57, 214, 57, 0.178);
}
.logOut:hover{
    background-color: rgba(255, 111, 111, 0.178);
}
.right{
    height: 82vh;
    width: 70%;
    margin-top: 27px;
    margin-right: 50px;
    box-shadow: 0px 2px 6px rgb(0,0,0,0.192);
    /* display: none; */
}
.heading{
    text-align: center;
    padding: 20px;
    font-weight: 500;
    color: green;
    font-size: 18px;
}
.details{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65vh;
}
.info-box{
    display: flex;
    padding: 0.7rem 1rem;
    border: 0.2px solid rgba(214, 214, 214, 0.788);
    align-items: center;
}
.label{
    font-size: 10px;
    color: grey;
    margin-right: 15px;
}
.field{
    color: green;
    font-weight: 500;
    border: none;
    width: 100%;
    outline: none;
}
input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.profile-picture{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.profile-pic{
    border: 4px solid grey;
    border-radius: 50%;
    height: 12rem;
    margin-top: -20px;
}
.update{
    padding: 1rem, 0.8rem;
    background-color: #4FB079;
    height: 40px;
    margin-top: -100px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgb(0,0,0,0.192);
    cursor: pointer;
    outline: none;
}
.update:hover{
    background-color: #479b6b ;
}
.orders{
    /* background: red; */
    height: 75vh;
    overflow-y: scroll;
}
.order{
    /* font-size: 10px; */
    min-height: 8vh;
    border: 0.5px solid rgba(0, 0, 0, 0.192);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 1rem; */
    margin: 0.5rem;
    font-size: 12px;
}
.order h2{
    font-size: 20px;
}
h4, h3{
    font-size: 19px;
}
a{
    background: #43C47B;
    width: 40%;
    /* margin-top: 2rem; */
    /* padding: 1rem; */
    color: white;
    font-weight: 500;
    border-radius: 5px;
    /* margin: 1rem 6rem; */
    text-decoration: none;
    cursor: pointer;
    border: none;

}
h5{
    font-size: 14px;
}
h4{
    font-size: 16px;
}