*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #32B47D; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
.main{
    width: 100%;
    height: 100vh;
    background: #161721;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.dashboard{
    width: 20%;
    background: #222432;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    /* justify-content: space-around; */
    position: relative;
}
.dashboard .imgBox{

    width: 19vh;
    height: 19vh;
    border-radius: 50%;
    background: gray;
}
.dashboard .links{
    height: 70vh;
    width: 100%;
    /* background: chartreuse; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.dashboard .links i{
    color: #32B47D;
    cursor: pointer;
}
#out{
    color: #DF3D3D;
}
.table-board{
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    
}

.btun{
    height: 15vh;
    /* padding-top: 6rem; */
    /* padding-left: 43rem; */
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    width: 82%;
    border: none;
    border-radius: 5px;
    outline: none;
    
}
.btun button{
    padding: 0.8rem 2.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    
    background-color: #32B47D;
}
.btun button a{
    color: white;
    font-weight: 600;
    text-decoration: none;


}
.btun h1{
    color: white;
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px gray;
}
.board{
    
    /* margin: auto; */
    margin-left: 2rem;
    background: #222432;
    width: 90%;
    height: 70vh;
    margin-left: 2rem;
    overflow-y: scroll;
    padding: 1rem;
    border-radius: 5px;
}
th{
    color: white;
    font-weight: 600;
}
td{
    font-weight: 600;
    color: #32B47D;
}

#pop{
    cursor: pointer;
}
.popup{
    /* z-index: -1; */
    display: none;
    visibility: hidden;
    height: 40vh;
    width: 50vh;
    background: #161721;
    position: absolute;
    top: 15%;
    left: -5%;
    border-radius: 6px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 1.3rem;
    transition: 0.2s;
}
.popup p{
    color: #32B47D;
    padding: 0rem 2rem;
}
.popup b{
    color: white;
    margin-left: 0.2rem;
}



/* 

.popup1{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    
}
.popup1 .content form a{
    border: 1px s black;
    padding: 0.8rem;
    background: brown;
    color: white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.popup1 .content{
    height: 470px;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;

}
.popup1 .content form{
    
    padding: 1rem;
}
.popup1 .content form input{
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 10px;
    
    outline: none;

}
.close1{
    position: absolute;
    top: -3px;
    right: 4px;
    
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: black;
    
}
.close1 i{
    color: black;
}
#user{
    color: darkblue;
} */
