{% extends 'base.html' %}
{% block header %}
  

    <link rel="stylesheet" href="{{url_for('static', filename = 'css/cart.css')}}">
{% endblock %}
{% block content %}
    <div class="top">
        <input action="action" onclick="window.history.go(-1); return false;" type="submit" value="&larr; back to Pharmacy" style="background: darkolivegreen;
        color: white;
        padding: 0.5rem;
        border-radius: 10px;
        margin-left: 1rem;
        margin-top: 2rem;">
       
      
    </div>
    <div class="whole">
   {% include 'messages.html' %}
            <div class="cart">
                {% if shop %}
                <div class="order">
                   
                    <h3>Order from </h3>
                    <h5>{{shop.shop_name}}</h5>
                    <p>{{shop.address}}</p>
                    <p>{{shop.city}}</p>
                    
                </div>
                <table  class="table table-sm table-condensed table-striped table-hover ">
                   <thead>
                    <tr>
                        <th>S No</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        
                        <th>Quantity</th>
                       <th>Update</th>
                        <th>Subtotal</th>
                      
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set ns = namespace(sub=0) %}
                    {% for item,ch in items %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>
                            <div class="cart-info">
                              
                                <p>{{item.name}}</p>
                            </div>
                        </td>
                        <td>{{item.price}}</td>
                       
                        <td>
                            <form method="POST" action="{{url_for('updateitem', id = user.id, id2 = ch.id)}}">
                      
                          <input type="number" value="{{ch.quantity}}" min="1" style="width: 50px" name="quantity"
                          height: 27px; outline: none; font-size: 15px">   
                         <button><input type="submit" placeholder="Update">Update</button> 
                           
                            </form>
                            
                            </td>
                           
  
                        <td>{{item.price * ch.quantity}}</td>
       {% set ns.sub = ns.sub + (item.price * ch.quantity)%}
 

                        <td><button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ item.id }}">
                            Delete
                          </button></td>
                    </tr>
                    <!-- Modal -->
<div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ item.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class="text-danger">Are you sure? You want to delete product!</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Cancel</button>
          <form action="{{url_for('deleteitem', id2 = ch.id, id = user.id)}}" method="POST">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
         
      </div>
    </div>
  </div>
  </div>

                    {% endfor %}
                </tbody>
                </table>
        
                <div class="total">
                    <table>
                        <tr>
                            <td>Total</td>
                            <td>{{ns.sub}}</td>
                        </tr>
                       
                        
                    </table>
                </div>
        
<a href="/main/{{user.id}}/clearcart">Clear Cart</a>
         
            {% else %}
            <h1>Your cart is empty</h1>
            
            {% endif %}

            </div>
        
            <div class="checkout">
                <h1>Secure Checkout</h1>
                <div class="box">
                    <h4>{{user.name}}</h4>
                    <p>You are logged in</p>
                </div>
                <div class="box">
                    <h4>Delivery Address</h4>
                    <p><b>Home</b> {{user.address}} {{user.pincode}}</p>
                </div>
                <div class="box box-2 ">
                    <h3>Select Payment Method</h3>
                    <p>Currently we are accepting only COD orders</p>
                    <input type="checkbox" id="COD" name="COD" value="COD" />
                    <label>Cash on Delivery</label><br><br>
                    <input type="checkbox" disabled id="COD" name="COD" value="COD" />
                    <label>Wallets or Upi</label><br><br>
                    <input type="checkbox" disabled id="COD" name="COD" value="COD" />
                    <label>Credit or Debit Card</label>
                </div>
                <button id="order">Place Order</button>
        
            </div>
            </div>
            <footer style="background-color: rgb(255, 254, 254); color: rgb(252, 0, 0); padding: 0.1rem; display: flex; flex-direction: row; align-items: center; justify-content: center;">Made with &#x2764 
                <h3><a href="/contact" style="color: rgb(0, 0, 0); margin-left: 2rem;">Contact Us</a></h3>
                 </footer>
    
{% endblock %}