{% extends 'base.html' %}
{% include 'messages.html' %}

{% block header %}
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/style1.css')}}">
<!-- <link rel="icon" href="{{url_for('static', filename = 'images/icon.png')}}" type="image/gif" sizes="16x16"> -->
{% endblock %}

{% block content %}
<div class="landing">
    <header>

        
        <div class="container">
            <input type="checkbox" name="" id="check">

            <div class="logo-container">
                <img src="{{url_for('static', filename = 'images/icon.png')}}" width="30px" height="30px">
                <h2 class="logo">DOORMED</h2>
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>


                      
                        {% if current_user.is_authenticated %}
                        
                        <li class="nav-link" style="--i: 1.25s; display:flex">
                            <form method="GET">
                            <input class="search_input" type="text" name="q" placeholder="Enter medicine name to search" style="    padding: 1.2rem;
                            border-radius: 10px;
                            border: none;
                            outline: none;">
                            <button class="btn btn-sm btn-success" type="submit" style="background: none;
                            border: none;
                            "><i class="fas fa-search"></i></button>
</form>
                        </li>
                        <li class="nav-link" style="--i: 1.25s">
                            <a href="/main/{{ user.id }}/cart">CART</a>

                        </li>

                        <li class="nav-link" style="--i: 1.25s">
                            <a href="/main/{{ user.id }}/account">ACCOUNT</a>

                        </li>


                        <li class="nav-link" style="--i: 1.35s">
                            <a href="/logout">LOGOUT</a>
                        </li>
                        {% else %}
                        

                        <li class="nav-link" style="--i: 1.25s">
                            <a href="reg_user">REGISTER</a>

                        </li>


                        <li class="nav-link" style="--i: 1.35s">
                            <a href="/user_login">LOGIN</a>
                        </li>
                        {% endif %}
                      
                    </ul>
                </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="overlay">
                <div class="text-p">
                    <p>"We are here to help you. You can trust us. We will deliver medicine at your door within 5-10
                        minutes..."</p>
                </div>
            </div>


        </section>
    </main>
</div>






<div class="main1">




    <div class="container">

        {% if shops %}
        {% for shop in shops %}
        <div class="card1">

            <div class="content">
                <div class="imgBx">
                  
                    <li style="--i:4"><a href="{{url_for('shop_details', id = shop.id )}}">  <img src="medo.jpg"></a></li>
                </div>
                <div class="text">
                    <h3>{{shop.shop_name}}</h3>
                </div>
            </div>

            <div class="bio">
                <h1>"You can trust us..best shop around {{shop.city}}"</h1>
            </div>
            <ul class="links">
                <li style="--i:1">{{shop.state}}</li>
                <li style="--i:2">{{shop.city}}</li>
                <li style="--i:3">{{shop.pincode}}</li>
   
            </ul>
        </div>
        {% endfor %}
        {% else %}
        <h2 style="color: orangered; font-weight: 600; padding: 10rem;">The medicine you are searching for is not available now in nearby Shops..... <i class="fas fa-sad-tear"></i></h2>
        {% endif %}

    </div>
</div>
</div>

</div>

<footer style="background-color: rgb(0, 0, 0); color: rgb(252, 0, 0); padding: 0.2rem; display: flex; flex-direction: row; align-items: center; justify-content: center;">Made with &#x2764 
    <h3><a href="/contact" style="color: white; margin-left: 2rem;">Contact Us</a></h3>
     </footer>
{% endblock %}