{% extends 'base.html' %}
{% include 'messages.html' %}

{% block header %}
<script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'css/style1.css')}}">
<!-- <link rel="icon" href="{{url_for('static', filename = 'images/icon.png')}}" type="image/gif" sizes="16x16"> -->
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="all">
    <div class="bar" style="margin-top: 2.8rem;">
      <div class="text">
        <div class="text-box">
        <p>Keep yourself away from COVID and get your medication at your doorstep with minimum amount of human contact..</p>
        </div>
        <div class="search-option">
          <form method="GET" style="    display: flex;
          align-items: center;
          width: 90%;">
              <input class="search_input" type="text" name="q" placeholder="Enter medicine name to search" style="    padding: 0.8rem;
              border-radius: 10px;
              border: none;
              outline: none; width: 150%; font-size: 15px;">
              <div class="btn1">
                <button class="btn btn-sm btn-success" type="submit" style="background: none;
                border: none;
                "><i class="fas fa-search" style="color: white;"></i></button>
              </div>
              
      </form>
      </div>

     


        
      



      </div>
      <div class="aunty">
        <img src="{{url_for('static', filename = 'images/door.png')}}">
      </div>
    </div>
    <div class="main">
        <div class="shops">


            {% if shops %}
            {% for shop in shops %}
            <div class="shop">
                <div class="imgpart">
                    <img src="/show1/{{shop.id}}" alt="no">
                </div>
                <div class="details">
                  <h2>{{shop.shop_name}}</h2>
                  <p>{{shop.address}}</p>
                  <p>{{shop.city}}</p>
                  <p>{{shop.pincode}}</p>
                </div>
                <div class="bio">
                    <p>{{shop.bio}}</p>
                </div>
                <div class="links">
                    <i class="fas fa-star">4.3</i>
                      <a href="/{{shop.id}}">View more</a>
                </div>
            </div>

            {% endfor %}
{% endif %}

          

          


        </div>

    </div>
    </div>

{% endblock %}