{% extends 'base.html' %}

{% block header %}
	<link rel="stylesheet" href="{{url_for('static', filename = 'css/rcstyle.css')}}">
    {% endblock %}


    {% block content %}

    {% include 'messages.html' %}
        <section>
            <div class="rt-container">
                <div class="col-rt-12">
                    <div class="form-container">
                        <h1>Customer's Registration Form</h1>
                        <form action="" method="POST" name="registerForm">
                            <label for="firstName">Name *</label>
                            <input type="text" id="firstName" name="Name" maxlength="50" placeholder="Name" required />
    
                            <label for="e-mail">E-mail address *</label>
                            <input type="email" id="e-mail" name="EmailID" maxlength="100" placeholder="Email" required />
    
                            <label for="password">Password *</label>
                            <input type="password" id="password" name="Password" pattern=".{8,}" required
                                title="8 characters minimum" placeholder="*****" />
    
                            <label for="password">Confirm Password *</label>
                            <input type="password" id="confirm_password" pattern=".{8,}" required
                                title="8 characters minimum" placeholder="*****" />
    
                            <p class="password-rules">Your password should contain at least 8 characters and 1 number.</p>
    
                            <label for="phoneNumber">Mobile Number</label>
                            <input type="tel" id="phoneNumber" name="MobileNumber" maxlength="10" pattern=".{10,}"
                                placeholder="Only digits..." required />
    
                            <label for="address">Address *</label>
                            <textarea name="Address" rows="5" cols="40" placeholder="Your Residence Address with Landmark"
                                required></textarea>
                        <br>
                            <label for="city">City *</label>
                            <input type="text" id="e-mail" name="City" maxlength="50" placeholder="City" required />
    
                            <label for="pincode">Pincode *</label>
                            <input type="number" id="Pincode" name="PinCode" maxlength="6" placeholder="Pincode" required />
    
                                    
                           
    
                            <input class="button" type="submit" value="submit" name="submit" onClick="Validate()" />
                            
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </section>
        <script type="text/javascript">
            function Validate() {
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirm_password").value;
                if (password != confirmPassword) {
                    alert("Passwords do not match.");
                    return false;
                }
                return true;
            }
        </script>
 
{% endblock %}