
{% extends 'base.html' %}
{% include 'messages.html' %}

{% block header %}
    <link href="static/css/login1.css" rel="stylesheet" type="text/css" />
  {% endblock %}

  {% block content %}
    <br />
    <br />
    
    <div class="login-card">
    <div class="log_head">
    <h1>LOGIN</h1>
 
    <img src="{{url_for('static', filename = './images/lock.png')}}" alt="lock" class="lock" />
    </div>
  
    
    <div class="log_body">
   


      <form action="{{url_for('seller_login')}}" method="POST">
     <table width="200" border="0" align="center">
      <tr>
        <td><input type="email" name="email" class="log_user" placeholder="Email" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><input type="password" name="password" class="log_Pass" placeholder="password" required></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="color:cornsilk;"><input name="remember" type="checkbox" value="Remember Me"> Forgot Password</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><input type="submit" name="login" class="login-submit" value="SIGN IN"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="color:cornsilk;">Don't have an account ? <a href="/seller_register" rel="register">Register Here</a></td>
      </tr>
    </table>
    
    </form> 
    </div>
    
    </div>
    {% endblock %}
    