
{% extends 'base.html' %}
{% include 'messages.html' %}

{% block header %}
    <link href="{{url_for('static', filename = 'css/login1.css')}}" rel="stylesheet" type="text/css" />
    {% endblock %}

    {% block content %}
    <div class="login">
      
      <div class="centre">
          <header>Welcome to
            <img src="{{url_for('static', filename = 'images/logo.svg')}}" alt="" class="logo" style="margin-bottom: 1rem;">
         
          </header>
          <form action="#"method="POST">
              <div class="input-tag">
              <div class="txt_field">
                  <input type="text" name="email" required>
                  <span></span>
                  <label>Email</label>
              </div>
              <div class="txt_field">
                  <input type="password" name="password" required>
                  <span></span>
                  <label>Password</label>
              </div>
              <div class="pass">Forgot Password?</div><br>
              </div>
              <input type="submit" value="Sign-in">
              <div class="signup">
                  Not a member? <a href="/seller_register">SignUp</a>
              </div>
             
          </form>
      </div>
      <div class="con">
        <h2>Health is always the first priority for everyone and so is our customer to us</h2>
        <br>
        <p>Delivering medicines to door with least human contact and also in a low cost</p>
    </div>
    
    </div>
    {% endblock %}